body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: slategrey;
}

.Calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Screen {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.but {
  display: grid;
  grid-template-columns: repeat(3/5, 1fr);
  grid-gap: 10px;
}

.but button {
  width: 50px;
  height: 50px;
  font-size: 16px;
}